body{
    font-family: Garamond, serif;
    background-color: blanchedalmond;
    text-align: center;
}
a{
    text-decoration: none;
    color: cornflowerblue;
    padding: 10px;
}
text{
    color: lavender;
    padding: 10px;
}