/*navbar section*/
#nav {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

#nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: var(--accent-color);
}

#nav ul li {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

#nav ul li a:hover {
  background-color: #555;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#nav ul li a.selected {
  background-color: #555;
}

.active a {
  background-color: #FC6C2D !important;
}

.active a:hover {
  background-color: #FC4236 !important;
}
